	<div class="center">
		<h1>O nas - edycja</h1>
		<p>Tutaj możesz edytować stronę "O nas".</p>
		<p>W przypadku problemów z wysyłaniem plików na serwer sprawdź poprawność "Base URL" w ustawieniach.</p><br>
	</div>
	<form action="" method="post">
		<input type="hidden" name="zapisz" value="onas">
		<textarea id="onas" name="onas" cols="80" rows="40">{$ustawienia.onas}</textarea>
		<script type="text/javascript">
			CKEDITOR.replace( 'onas',
            {ldelim}
				height: '300px',
                 filebrowserBrowseUrl :'js/ckeditor/filemanager/browser/default/browser.html?Connector={$ustawienia.base_url}/cms/js/ckeditor/filemanager/connectors/php/connector.php',
                filebrowserImageBrowseUrl : 'js/ckeditor/filemanager/browser/default/browser.html?Type=Image&Connector={$ustawienia.base_url}/cms/js/ckeditor/filemanager/connectors/php/connector.php',
                filebrowserFlashBrowseUrl :'js/ckeditor/filemanager/browser/default/browser.html?Type=Flash&Connector={$ustawienia.base_url}/cms/js/ckeditor/filemanager/connectors/php/connector.php',
				filebrowserUploadUrl  :'{$ustawienia.base_url}/cms/js/ckeditor/filemanager/connectors/php/upload.php?Type=File',
				filebrowserImageUploadUrl : '{$ustawienia.base_url}/cms/js/ckeditor/filemanager/connectors/php/upload.php?Type=Image',
				filebrowserFlashUploadUrl : '{$ustawienia.base_url}/cms/js/ckeditor/filemanager/connectors/php/upload.php?Type=Flash'
			{rdelim});
		</script>
		<br><br>
		<div class="center">
			<input type="submit" value="Zapisz">
		</div>		
	</form>