	
	<h2>{$tlumaczenia_teksty.mapa_obiektow}</h2>
	<p style="text-align:center">{$tlumaczenia_teksty.mapa_obiektow_opis}</p>
	{if !isset($mapa)}<h3 style="text-align:center; font-size: 16px">{$tlumaczenia_teksty.nie_dodano_lokalizacji}</h3>{/if}<br>
	<div id="mapa_google"></div>
	{literal}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp{/literal}{if ($ustawienia.google_maps_api)}&key={$ustawienia.google_maps_api}{/if}{literal}"></script>
	<script>
		google.maps.event.addDomListener(window, "load", function() {
			var map = new google.maps.Map(document.getElementById("mapa_google"), {
				center: new google.maps.LatLng( {/literal}{$ustawienia.mapa_center}{literal}),
				zoom: 6
			});
			{/literal}
			{if isset($mapa)}
			var punkty = [
				{foreach item=item key=key from=$mapa name=mapa}
					['{$item.tytul}', {$item.mapa}, {$smarty.foreach.mapa.iteration}, '{$item.id},{$item.prosty_tytul}']{if !$smarty.foreach.mapa.last},{/if}
				{/foreach}
			]
			{literal}
			var punkt, i, before_infoWindows;
			for (i = 0; i < punkty.length; i++){  
				latlngset = new google.maps.LatLng(punkty[i][1], punkty[i][2]);
				var punkt = new google.maps.Marker({  
					map: map, title: punkty[i][0] , position: latlngset  
				});
				var content = "<a href='{/literal}{$ustawienia.base_url}{literal}/"+punkty[i][4]+"' title='"+punkty[i][0]+"' class='punkt'>"+punkty[i][0]+"</a>";
				var infowindow = new google.maps.InfoWindow()
				google.maps.event.addListener(punkt,'click', (function(punkt,content,infowindow){ 
					return function() {
						if(before_infoWindows){
							before_infoWindows.close();
						}
						infowindow.setContent(content);
						infowindow.open(map,punkt);
						before_infoWindows = infowindow; 
					};
				})(punkt,content,infowindow)); 
			}
			{/literal}
			{/if}
			{literal}
		})
	</script>
	{/literal}