*{
	margin: 0;	padding: 0;	text-decoration: none; list-style: none;
}
body {
	font-family: 'Ubuntu', sans-serif;	position:relative;	  background: url(../../images/background.jpg) no-repeat center center fixed; 
	background-size: cover; padding-top: 20px;
}
p, li, span, table, label, fieldset{
	color: #4a4a4a; font-size:13px; line-height: 150%;
}
h1, h1 span{
	color: #3c3c3c;	text-shadow: 0 1px #757575;	font-size:22px;	padding:7px 0; text-align:center;
}
h2{
	color: #03d09d;	font-family: 'Oregano', sans-serif;	text-shadow: 0 0 10px white;	font-size:22px; text-align:center; padding:7px 0;
}
h3{
	color: #696b6b; font-family: 'Lato', sans-serif;	text-shadow: 0px 1px 0px #e5e5ee;	font-size:17px; padding:7px 0;
}
a{
	color:black; font-weight:bold;
}
a:hover{
	text-decoration: underline;
}
#strona{
	width:calc(100% - 320px);	margin: 0px 20px 60px 220px; padding: 40px 40px 80px 40px; background-color: rgba(255,255,255,0.9); position: relative;
}
.center{
	text-align:center;
}
/* menu */
#menu {
	position: fixed; top:0px; left:0;  z-index:100; background-color:#292e35; height: 100%; width: 200px; box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}
#logo{
	width:190px; margin:3px 0;
}
#top_menu{
	text-align:center; padding-bottom: 5px;  margin-bottom: 10px;
}
#top_menu h2{
	color: #d9d8d8; font-size: 14px;  font-family: 'Lato', sans-serif; padding: 2px 0; text-shadow: 0 0 5px rgba(255,255,255,0.4);
}
#top_menu h2 a{
	color: #dddddd; margin: 0 5px; font-weight: normal; font-size: 12px; display: inline-block;
}
#menu ul{
	display:block;	 width:200px;
}
#menu li a, #menu li  span{
	display:block;	padding: 4px 15px 5px 15px; 	color:#adb3ba;	font-size: 14px; font-weight: normal; transition: all .4s; 
	background-image: linear-gradient(to right, black 50%, rgba(0,0,0,0) 50%);    background-size:  200% auto;    background-position: 100% 0 ;
}
#menu li a:hover, #menu li span:hover, #menu ul ul li a.green_menu:hover, #menu ul ul.mobile a:hover, #menu ul ul.mobile span:hover{
	color: white; text-decoration: none;	background-position: 0 0;
}
#menu a:hover .ikona, #menu li span:hover .ikona{
	opacity:1;
}
#menu ul ul li a.green_menu{
	background-color:#02ad82;	font-weight:bold; color: white;
}
#menu li:hover  ul {
    opacity:1;    visibility:visible; 
}
#menu ul ul {
    opacity:0;    visibility:hidden;    position:absolute;  	top:0; left: 200px; width: auto; z-index:110; 
}
#menu ul ul.fixed {
	position:fixed; top:5px; 
}
#menu ul ul li.inline{
	float: left; border-right: solid 1px #747474; display: inline-block;
}
#menu li li a{
	padding: 5px 20px;	font-size: 13px; box-shadow: 2px 2px 2px rgba(0,0,0,0.2);  background-color:#292e35;
}
#menu .ikona{
	width: 20px; height: 20px;position: relative; bottom:-6px; margin-right: 3px;
}
#menu li .ikona{
	margin-right: 10px; bottom: -3px;
}
.relative{
	position: relative;
}
/* ikony */
.ikona{
	width: 25px; height: 25px;  background:url(../../images/ikony.png); background-repeat: no-repeat; opacity:0.7; transition: all 0.5s; display: inline-block;
}
.ikona:hover, .link_strony:hover{
	opacity:1;
}
.link_strony{
	margin: 20px 2px 0 2px; opacity:0.7; transition: all 0.5s; width: 48px; height: 48px;  background:url(../../images/ikony.png); 
	background-repeat: no-repeat; display: inline-block;
}
.link_strony.nieaktywny, .ikona.nieaktywna{
	opacity:0.2; cursor: default;
}
#wybor_stron{
	text-align: right; padding-top: 40px;
}
#wybor_stron p{
	display: inline-block; vertical-align: top; margin: 34px 15px 0 0;
}
.ikona_ok			{background-position: -30px -30px;}
.ikona_ok2			{background-position: -88px -32px;}
.ikona_ustawienia	{background-position: -186px -32px;}
.ikona_klodka		{background-position: -338px -32px;}
.ikona_dodaj		{background-position: -236px -29px;}
.ikona_edytuj		{background-position: -392px -29px;}
.ikona_usun			{background-position: -288px -29px;}
.ikona_zawieszka	{background-position: -647px -32px;}
.ikona_telefon		{background-position: -240px -83px;}
.ikona_ustawienia2	{background-position: -290px -83px;}
.ikona_video		{background-position: -343px -83px;}
.ikona_twarz		{background-position: -395px -83px;}
.ikona_zegarek		{background-position: -446px -83px;}
.ikona_dokumenty	{background-position: -496px -83px;}
.ikona_olowek		{background-position: -547px -83px;}
.ikona_dokument		{background-position: -598px -83px;}
.ikona_skrzynka		{background-position: -649px -83px;}
.ikona_budzik		{background-position: -33px -133px;}
.ikona_pozycja_gora	{background-position: -80px -130px;}
.ikona_pozycja_dol	{background-position: -136px -130px;}
.ikona_tag			{background-position: -190px -132px;}
.sortuj_dol			{background-position: -142px -83px; width: 14px; height: 14px;}
.sortuj_gora		{background-position: -190px -83px; width: 14px; height: 14px;}
.link_strony_lewo	{background-position: -430px -20px;}
.link_strony_prawo	{background-position: -480px -20px;}
.link_strony_pierwsza{background-position: -18px -67px; width: 52px;}
.link_strony_ostatnia{background-position: -76px -67px; width: 52px;}
/* tabele */
table{
	border-collapse: collapse;	margin:auto;
}
.table tr{
	height: 35px; background-color: rgba(255,255,255,0.9);
}
.table tr:nth-child(2n){
	background-color: #f9f9f9;
}
.table tr td{
	border: solid 1px #dddddd; padding: 3px 10px;
}
.table tr:first-child{
	background-color: #ecedee;	text-align:center;	color: #444444;	font-size:15px; font-weight: bold;
}
/* inputs */
input, textarea, select{
	border: solid 2px #02cf9c; background-color: rgba(0,0,0,0.05);	font-weight:bold;	font-size:14px;	width:200px;   border-radius: 2px;
    color: #545454;    padding: 5px 6px;	margin: 3px; transition: all 0.5s;
	box-sizing: border-box;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;
}
input:active, input:hover, input:focus, textarea:active, textarea:hover, textarea:focus, select:hover, select:focus{
	border-color: grey;    box-shadow: 0 0 5px grey;	color: #2E2E2E;	background-color:white;
}
input:required:invalid {
	background-color: lightyellow;
}
textarea {
   font-family: inherit;   width: 300px; height: 100px;  font-size:13px;
}
input[type=submit], input[type=reset], .submit{
	display:inline-block;	 padding: 8px 20px; margin: 3px;	background-color: #03d09d; width: auto; box-shadow: 0 0 5px #bfbfbf;	color:white;
	font-size:14px;	cursor:pointer;	border: solid 1px white;	transition: all 0.5s;
}
input[type=submit]:hover, input[type=reset]:hover, .submit:hover{
	background-color: transparent; color: black; border-color: black; box-shadow: 0 0 5px grey; text-decoration: none;
}
label, fieldset{
	display: block; border: none;
}
input[type="checkbox"], input[type="radio"]{
	margin-right: 4px; position:relative; bottom:-2px; width: 14px; height: 14px; cursor: pointer;
}
input[type="checkbox"]:active, input[type="checkbox"]:hover, input[type="checkbox"]:focus, input[type="radio"]:active, input[type="radio"]:hover, input[type="radio"]:focus{
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.15);
}
input[type="file"]{
	width: 250px;
}
input[type=number]{
	text-align:right; 
}
input[type=submit]:disabled{
	cursor: auto; opacity:0.2;
}
/* page box */
.page_box{
	position:fixed;	width:100%;	height:100%; top:0px; left:0px;	background-color: rgba(0,0,0,0.6);	display:none; z-index:200; overflow: auto;
}
.inside_page_box{
	position:absolute;	top:50%;left:50%; background-color:white;	padding:10px 20px;	text-align:center;	box-shadow: 0 0 7px #03d09d;
}
.red{
	font-size:12px;	color: red;	display:none; padding-bottom:3px;
}
/* cms */
#okno_logowania{
	width: 340px; max-width: 80%; margin: 7% auto 7%; background-color: #f7f7f7; box-shadow: 0 0 10px rgba(0,0,0,0.6); border-radius: 10px;
	border: solid 4px #292f38; padding: 20px 10px; text-align:center;
}
#okno_logowania img{
	width:80%;	margin-bottom: 20px;
}
#ustawienia_cms tr td:first-child{
	text-align:right; font-weight: bold; font-size: 14px; padding: 8px 12px;
}
#cms_logi tr td:nth-child(3), #cms_logi tr td:nth-child(4){
	text-align:center;
}
/* footer */
footer{
	width:calc(100% - 300px);	margin-left: 200px; padding: 15px 50px;	background-color:#292e35;	text-align:center; color:white;	font-size: 10px; box-shadow: inset 0 0 10px rgba(0,0,0,0.8); position: fixed; bottom:0;
}
footer a{
	color:white;	font-weight:bold;
}
/* mobile style */
@media(max-width: 750px) { 
	body{
		padding-top: 0px;
	}
	#menu{
		position: relative; width: auto; height: auto; padding-bottom: 10px;
	}
	#menu ul{
		width: auto; text-align:center;
	}
	#menu ul li{
		display: inline-block;
	}
	#menu li ul{
		left:0px; top: 33px; background-color:white; box-shadow: 2px 2px 2px rgba(255,255,255,0.2); text-align:left; position: absolute;
	}
	#menu li ul a{
		background-color:transparent; box-shadow: none; color: #3a3a3a;
	}
	#strona {
		margin: 20px; width: auto;
	}
	footer{
		margin:0; width: auto;
	}
}