*{
	margin: 0;	padding: 0;	text-decoration: none; list-style: none;
}
body {
	font-family: 'Lato', sans-serif;  background: url(../cms/images/background.jpg) no-repeat center center fixed; 
	background-size: cover; padding-top: 20px;
}
h2{
	color: #525251;	text-shadow: 0px 1px 0px #e5e5ee;	font-size:16px; padding:10px 10px 5px;
}
h3{
	color: red;	text-shadow: 0px 1px 0px #e5e5ee;	font-size:16px;	padding-top: 10px;
}
#strona{
	max-width: 450px; margin: auto; padding: 20px 40px; background-color: rgba(255,255,255,0.9); position: relative; text-align:center;
}
#logo{
	width:90%; max-width:300px;	margin: auto; margin-bottom:15px;
}
/* tabele */
table{
	border-collapse: collapse;	margin:10px auto 0;
}
table tr{
	height: 35px; background-color: rgba(255,255,255,0.9);
}
table tr:nth-child(2n){
	background-color: #f9f9f9;
}
table tr td{
	border: solid 1px #dddddd; padding: 3px 10px;
}
table tr td:first-child{
	text-align: right; font-size: 13px;
}
/* inputs */
input{
	border: solid 2px #02cf9c; background-color: rgba(0,0,0,0.05);	font-weight:bold;	font-size:14px;	width:200px;   border-radius: 2px;
    color: #545454;    padding: 5px 6px;	margin: 3px; transition: all 0.5s;
	box-sizing: border-box;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;
}
input:active, input:hover, input:focus{
	border-color: grey;    box-shadow: 0 0 5px grey;	color: #2E2E2E;	background-color:white;
}
input[type=submit]{
	display:inline-block;	 padding: 8px 20px; margin: 10px;	background-color: #03d09d; width: auto; box-shadow: 0 0 5px #bfbfbf;	color:white;
	font-size:14px;	cursor:pointer;	border: solid 1px white;	transition: all 0.5s;
}
input[type=submit]:hover{
	background-color: transparent; color: black; border-color: black; box-shadow: 0 0 5px grey; text-decoration: none;
}
.red{
	font-size:12px;	color: red;	display:none; padding-bottom:3px;
}
/* footer */
footer{
	padding: 15px 50px;	background-color:#292e35;	text-align:center; color:white;	font-size: 10px; box-shadow: inset 0 0 10px rgba(0,0,0,0.8); 
}
footer a{
	color:white;	font-weight:bold;
}